<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>账户信息</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>
<div id="myAccount">
    <div class="weui_cells weui_cells_access" style="margin-top:0;">

        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd img_tx"><img src="<%= body.headimgurl?body.headimgurl:'/custom/wx_style/images/icon_tx.png' %>" alt="" style="width:60%;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p name="username"><%= body.nickname %></p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>

    </div>
    <div class="weui_cells weui_cells_access">

        <a class="weui_cell" href="<%= userData.siteId?'javascript:void(0);':(global.config.contextPath + global.config.viewPrefix + '/account/servicePoint') %>">
            <div class="weui_cell_hd"><img src="/custom/wx_style/images/icon_50_dw.png" alt="" style="width:60%;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>服务点注册</p>
            </div>
            <div class="weui_cell_ft"><%= userData.siteId?'已':'未' %>注册</div>
        </a>
        <a class="weui_cell" href="<%= userData.userType=='employee'?'javascript:void(0);':(global.config.contextPath + global.config.viewPrefix + '/view/account/bindEmployeeInfo') %>">
            <div class="weui_cell_hd"><img src="/custom/wx_style/images/icon_50_ygk.png" alt="" style="width:60%;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>员工信息</p>
            </div>
            <div class="weui_cell_ft"><%= userData.userType=='employee'?'已':'未' %>认证</div>
        </a>
        <a class="weui_cell" href="javascript:void(0);">
            <div class="weui_cell_hd"><img src="/custom/wx_style/images/icon_50_zd.png" alt="" style="width:60%;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>就餐卡信息</p>
            </div>
            <div class="weui_cell_ft">未登记</div>
        </a>
    </div>
    <div class="weui_cells weui_cells_access">

        <a class="weui_cell" href="<%= global.config.contextPath + global.config.viewPrefix %>/account/address">
            <div class="weui_cell_hd"><img src="/custom/wx_style/images/icon_50_dw.png" alt="" style="width:60%;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>收货地址</p>
            </div>
            <div class="weui_cell_ft"><span name="address"><%= userData.addressCount %></span>个</div>
        </a>
    </div>
</div>


<% if((session.user && session.user.userType) == 'employee'){ %> <!--TODO 从session中判断当前用户是否为管理人员，决定button是否可见-->
<footer>
    <div class="footer_box"><a href="<%= global.config.contextPath + global.config.viewPrefix %>/order/employeeOrder" class="weui_btn weui_btn_warn" >管理入口<span>（仅供索迪斯工作人员使用）</span></a></div>
</footer>
<% } %>
<% include ../common/footer.ejs %>
</body>
</html>
