<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>消息中心</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>

<div class="news_xq">
    <ul>
        <li class="name"><%- body.name %></li>
        <li class="rq"><%= body.userName %>  <%= global.myUtil.dateFormatter(new Date(body.updateTimeLong), "yyyy年MM月dd日") %><span><%= body.modelName %></span></li>
        <li><img src="<%= body.subTitle %>"></li>
        <li><%- body.uedit %></li>
    </ul>
</div>
<% include ../common/evaluate.ejs %>
<% include ../common/footer.ejs %>
</body>
</html>
