<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>新闻详情</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>

<div class="news_xq">
    <ul>
        <li class="name"><%- body.name %></li>
        <li class="rq"><%= body.userName %>  <%= global.myUtil.dateFormatter(new Date(body.updateTimeLong), "yyyy年MM月dd日") %><span><%= body.modelName %></span></li>
        <li><img src="<%= body.subTitle %>"></li>
        <li><%- body.uedit %></li>
    </ul>
</div>
<%
var yc = 0,bc=0;
if(body && body.properties){
    yc = body.properties.yc || 0;
    bc = body.properties.bc || 0;
}
%>
<div class="evaluate_param" data-object-type="news" data-object-id="<%= body.id %>"  data-oper-type="evaluate">
<% include ../common/evaluate.ejs %>
</div>
<% include ../common/footer.ejs %>
</body>
</html>
