<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>餐厅列表</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart class="bg_zi">
<article>
    <ul class="nr_list">
        <% for(var i = 0; i < body.length; i++){ %>
        <li class="bh li_ct restaurantId" data-id="<%= body[i].id %>">
            <div class="img time_yy">
                <div><a href="javascript:void(0)" class="restaurantLink"><img src="/custom/wx_style/images/<%= body[i].image %>.png"></a></div>
                <div class="ms"><%= body[i].time %></div>
            </div>
            <div class="text_ct bh">
                <h2><a href="javascript:void(0)" class="restaurantLink"><%= body[i].name %></a></h2>
                <div class="f_pj bh">
                    <div class="float_l">
                        <%- global.htmlRender.renderStar(body[i].point, 5)%>
                    </div>
                    <span class=" float_l">( <%= body[i].comment %>评价 )</span></div>
                <div class="icon_ty like"><s> </s><a href="tel:<%= body[i].phone %>"><%= body[i].phone %></a></div>
            </div>
        </li>
        <% } %>
    </ul>
</article>
<% include ../common/footer.ejs %>
</body>
</html>
