<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>订单详情</title>
    <% include ../common/public.ejs %>
    <style>
        .tybtn_box {
            text-align: center;
        }

        .tybtn_box .weui_btn_mini {
            margin: 0% 5%;
            width: 35%;
        }
    </style>
</head>
<body ontouchstart>
<% var i; %>
<%
var orderStatus = {
    "-1": "用户已取消",
    "0": "订单待支付",
    "1": "订单已创建",
    "2": "订单已确认",
    "3": "订单已制作",
    "4": "订单已完成",
    "5": "订单已拒绝"
};
%>
<div class="div_ddcg">
    <div class="zt" data-code="<%= body.status %>"><%= orderStatus[body.status] %></div> <!--TODO 接枚举，siteOrderStatus-->
    <div class="time"><%= global.myUtil.dateFormatter(new Date(body.issueDate), "yyyy-MM-dd hh:mm:ss") %></div>
</div>
<div>
    <div class="zt_phone bh">
        <div class="icon"><img src="/custom/wx_style/images/<%= body.status > 0 ? '0219' : '0219_1' %>.png">
            <p> 订单已提交
            </p></div>
        <div class="icon"><img src="/custom/wx_style/images/<%= body.status > 1 ? '0426' : '0426_1' %>.png">
            <p><%= body.status == 5 ? "订单已拒绝" : "订单已确认" %></p>
        </div>
        <div class="icon"><img
                    src="/custom/wx_style/images/<%= (body.status > 2 && body.status < 5) ? '0589' : '0589_1' %>.png">
            <p>已制作</p>
        </div>
        <div class="icon"><img src="/custom/wx_style/images/<%= body.status == 4 ? '0414' : '0414_1' %>.png">
            <p>已结单</p>
        </div>
    </div>
</div>
<div>
    <div class="weui_cells">
        <div class=" weui_cells_access">
            <a class="weui_cell" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary">
                    <p><%= body.restaurantName %></p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
        </div>
    </div>

    <div class="div_ddlist">
        <div class="ddmx">
            <ul class="list-group" style="margin-top:0;">
                <% for(i = 0; i < body.orderLines.length; i++){ %>
                <li class="bh <%= i == (body.orderLines.length - 1) ? 'line_bot_p5' : '' %>">
                    <div class="title_a"><%= body.orderLines[i].note %></div>
                    <div class="title_ad"> × <%= body.orderLines[i].quantity.value %></div>
                    <div class="title_c_text">￥<%= body.orderLines[i].unitPrice.value %></div>
                </li>
                <% } %>
            </ul>
            <ul class="list-group">
                <li class=" bh">
                    <div class="title_d_text">合计：<span class="total_red">￥<%= body.subTotal.value %></span></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>订单详情</p>
            </div>
        </div>
        <div class="ddmx">
            <ul class="list-group" style="margin-top:0;">
                <li class=" bh">
                    <div class="title_b">订单号 ：</div>
                    <div class="title_b_text"><%= body.code %></div>
                </li>
                <li class=" bh">
                    <div class="title_b">餐厅 ：</div>
                    <div class="title_b_text"><%= body.restaurantName %></div>
                </li>
                <li class=" bh">
                    <div class="title_b">联系姓名 ：</div>
                    <div class="title_b_text"><%= body.consigneeName %></div>
                </li>
                <li class=" bh">
                    <div class="title_b">联系电话 ：</div>
                    <div class="title_b_text"><%= body.consigneeMobile %></div>
                </li>
                <li class=" bh">
                    <div class="title_b"><%= cookie.orderType == "wm" ? "送达时间" : "取餐时间/就餐时间" %> ：</div>
                    <div class="title_b_text"><%= body.needTime %></div>
                </li>
                <li class=" bh">
                    <div class="title_b">是否打包 ：</div>
                    <div class="title_b_text"><%= body.needPack?"是":"否" %></div>
                </li>
                <% if(body.shippingMethod == "wm"){ %>
                <li class=" bh">
                    <div class="title_b">收货地址 ：</div>
                    <div class="title_b_text"><%= body.consigneeAddress %></div>
                </li>
                <% } %>
                <% if(body.status == 5){ %>
                <li class=" bh" style="background-color: red;">
                    <div class="title_b">拒绝原因 ：</div>
                    <div class="title_b_text"><%= body.rejectReason %></div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<% if(body.status < 3){ %><!--TODO 需根据siteOrderStatus值写逻辑-->
<article>
    <div class=" tybtn_box">
        <% if(body.status == 0) { %>
        <a href="/view/order/wepay?id=<%= body.id %>" class="weui_btn weui_btn_mini weui_btn_default1">立即支付</a>
        <% }
        if(body.status != -1 && body.status < 3){  //已制作前都可以取消订单
        %>
        <a href="javascript:$('#dialog1').show();" class="weui_btn weui_btn_mini weui_btn_default1">取消订单</a>
        <% } %>
    </div>
    <!--BEGIN dialog1-->
    <div class="weui_dialog_confirm" id="dialog1" style="display:none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">您的订单已被商家受理</strong></div>
            <div class="weui_dialog_bd">亲，您的订单已被商家受理，确认要取消么？</div>
            <div class="weui_dialog_ft">
                <a href="javascript:$('#dialog1').hide();" class="weui_btn_dialog default">取消</a>
                <a href="javascript:cancelOrder();" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
    <!--END dialog1-->
</article>
<% } %>
<% include ../common/footer.ejs %>
<script>
    $(document).ready(function () {
        var nicesx = $("#boxscroll").niceScroll("#boxscroll div", {
            touchbehavior: true,
            cursorcolor: "#FF00FF",
            cursoropacitymax: 0.6,
            cursorwidth: 24,
            usetransition: true,
            hwacceleration: true,
            autohidemode: "hidden"
        });
    });

    function cancelOrder() {
        Dolphin.ajax({
            url: '/data/oms/order/status/<%= body.id %>/-1',
            type: Dolphin.requestMethod.GET,
            onSuccess: function (reData) {
                Dolphin.goUrl("/order/myOrder");
            }
        });
    }

</script>
</body>
</html>
