<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>订单详情</title>
    <% include ../common/public.ejs %>
    <link href="<%= global.config.publicPath %>/mobiscroll-master-black/css/mobiscroll.icons.css" rel="stylesheet" type="text/css" />
    <link href="<%= global.config.publicPath %>/mobiscroll-master-black/css/mobiscroll.scroller.css" rel="stylesheet" type="text/css" />
    <style>
        .weui_cell:before {
            left: 0;
        }
        .weui_cell_ft{
            float:right;
            margin-top:-35px;
        }
        body {
            height: auto;
        }
    </style>
</head>
<body ontouchstart>
<%
var i, totalPrice = 0;
%>
<% if(cookie.orderType == "wm"){ %>
<div>
    <ul class="list-group">
        <% for(i = 0; i < body.address.length; i++){ %>
        <% if((data.addressId == null && body.address[i].defaultAddress) || data.addressId == body.address[i].id){ %>
        <li class="<%= body.address[i].defaultAddress ? "list-group-item_edit" : "list-group-item_edit_b" %> bh">
            <a href="<%= global.config.contextPath + global.config.viewPrefix %>/account/address?pickFlag=true&restId=<%= data.restId %>&userId=<%= data.userId %>">
                <div class="bh">
                    <div id="addressSel" addressId="<%= body.address[i].id %>"
                         class="title_a_h"><%= body.address[i].consigneeName %></div>
                    <div class="title_c_h"><%= body.address[i].consigneeMobile %></div>
                </div>
                <div class="mr"><%= body.address[i].consigneeAddress %></div>
            </a>
        </li>
        <% break; %>
        <% } %>
        <% } %>
    </ul>
</div>
<% } %>

<div>
    <div class="weui_cells weui_cells_radio">
        <label class="weui_cell weui_check_label" for="x11"
               style="display: <%= body.payType.wepay ? "block" : "none" %>;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>微信支付<span>仅支持微信4.2及上版本</span></p>
            </div>
            <div class="weui_cell_ft">
                <input type="radio" class="weui_check" value="wepay"  onclick="setPoNo('a')"  name="payType" id="x11">
                <span class="weui_icon_checked"></span>
            </div>
        </label>
        <label class="weui_cell weui_check_label" for="x12"
               style="display: <%= body.payType.cardpay ? "block" : "none" %>;">

            <div class="weui_cell_bd weui_cell_primary">
                <p>员工卡支付<span>从员工卡中在线扣款</span></p>
            </div>
            <div class="weui_cell_ft">
                <input type="radio" name="payType" class="weui_check"  onclick="setPoNo('a')"  value="cardpay" id="x12">
                <span class="weui_icon_checked"></span>
            </div>
        </label>
        <label class="weui_cell weui_check_label" for="x13"
               style="display: <%= body.payType.cash ? "block" : "none" %>;">

            <div class="weui_cell_bd weui_cell_primary">
                <p>就餐时支付<span>只支持持有员工卡的公司员工使用</span></p>
            </div>
            <div class="weui_cell_ft">
                <input type="radio" name="payType" onclick="setPoNo('a')" value="cash" class="weui_check" id="x13">
                <span class="weui_icon_checked"></span>
            </div>
        </label>
        <label class="weui_cell weui_check_label" for="x14"
               style="display: <%= body.payType.popay ? "block" : "none" %>;">

            <div class="weui_cell_bd weui_cell_primary">
                <p>PO支付<span>使用PO号码支付</span></p>
            </div>
            <div class="weui_cell_ft">
                <input type="radio" onclick="setPoNo('po')" name="payType" class="weui_check" value="popay" id="x14">
                <span class="weui_icon_checked"></span>
            </div>
            <div id="poNum" style="display: none;">
                <input type="text" name="payId" style="line-height: 2em;" id="payId" placeholder="请输入PO号" class="form-control">
            </div>
        </label>
    </div>

    <div class="weui_cells">
        <div class=" weui_cells_access">
            <a class="weui_cell" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary">
                    <p><%= cookie.orderType == "wm" ? "送达时间" : "取餐时间/就餐时间" %></p>
                </div>

                <div class="">
                    <input style="line-height: 2em;" class="form-control" placeholder="请选择" name="needTime" id="needTime" />
                </div>
            </a>
        </div>
    </div>
    <div class="weui_cells">
        <div class=" weui_cells_access">
            <a class="weui_cell" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>订单备注</p>
                </div>
            </a>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="weui_textarea __remark" placeholder="如有特殊要求请留言" rows="3" id="remark"
                          name="remark"></textarea>
                <div class="weui_textarea_counter"><span class="__remarkLength">0</span>/200</div>
            </div>
        </div>
    </div>

    <div class="div_ddlist">
        <div class="ddmx">
            <ul class="list-group">
                <% for(i = 0; i < body.foodList.length; i++){ %>
                <% totalPrice += body.foodList[i].price; %>
                <li class=" bh">
                    <div class="title_a"><%= body.foodList[i].name %></div>
                    <div class="title_ad"> × <%= body.foodList[i].number %></div>
                    <div class="title_c_text">￥<%= body.foodList[i].price.toFixed(2) %></div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<article>
    <div class="btn_box bh">
        <div class="fkjg">总计：<strong id="totalPrice"
                                     data-total-price="<%= totalPrice %>">￥<%= totalPrice.toFixed(2) %></strong></div>
        <div class="bd">
            <a href="javascript:;" id="confirmOrder" class="weui_btn weui_btn_warn">立即结算</a>
        </div>
    </div>

</article>
<% include ../common/footer.ejs %>
<script src="<%= global.config.publicPath %>/mobiscroll-master-black/js/mobiscroll.core.js"></script>
<script src="<%= global.config.publicPath %>/mobiscroll-master-black/js/mobiscroll.scroller.js" type="text/javascript"></script>
<script src="<%= global.config.publicPath %>/mobiscroll-master-black/js/mobiscroll.datetime.js" type="text/javascript"></script>

<script src="<%= global.config.publicPath %>/mobiscroll-master-black/js/i18n/mobiscroll.i18n.zh.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var nicesx = $("#boxscroll").niceScroll("#boxscroll div", {
            touchbehavior: true,
            cursorcolor: "#FF00FF",
            cursoropacitymax: 0.6,
            cursorwidth: 24,
            usetransition: true,
            hwacceleration: true,
            autohidemode: "hidden"
        });
    });

    $(function () {
        var opt = {
            preset: 'datetime',
            dateFormat : 'yyyy-mm-dd',
            timeFormat : 'HH:ii',
            mode: 'scroller',
            lang: 'zh',
            dateOrder : 'yymmdd', //面板中日期排列格式
            theme: 'android-ics light',
            display: 'modal'
        };
        $('#needTime').scroller(opt);

    });

    function setPoNo(id){
        if(id=='po')
            $("#poNum").show();
        else
            $("#poNum").hide();
    }

    $("#confirmOrder").click(function () {
        var orderInfo = {};
        orderInfo.subTotal = {value: "<%= totalPrice.toFixed(2) %>"};
        orderInfo.storeName = '<%= data.restId %>';
        orderInfo.userId = '<%= userData.userId %>';
        orderInfo.userMobile = '<%= userData.userMobile %>';
        orderInfo.userName = '<%= userData.userName %>';

        orderInfo.paymentType = $("input[name='payType']:checked").val();
        orderInfo.needTime = document.getElementById("needTime").value;
        orderInfo.remark = document.getElementById("remark").value;

        var orderLines = [];
        <% for(i = 0; i < body.foodList.length; i++){ %>
        orderLines.push({
            skuId: "<%= body.foodList[i].code %>",
            note: "<%= body.foodList[i].name %>",
            quantity: {value: "<%= body.foodList[i].number %>"},
            unitPrice: {value: "<%= body.foodList[i].price.toFixed(2) %>"}
        });
        <% } %>

        orderInfo.orderLines = orderLines;
        <% if(cookie.orderType == "wm"){ %>
        orderInfo.shippingAddressId = $("#addressSel").attr("addressId");
        <% } %>
        orderInfo.shippingMethod = "<%= cookie.orderType %>";

        if(orderInfo.paymentType=='popay') {
            orderInfo.payId = $("#payId").val();
            if(!(orderInfo.payId)){
                alert("PO号码不能为空!")
                return;
            }
        }

        Dolphin.ajax({
            url: '/data/oms/order/',
            type: Dolphin.requestMethod.PUT,
            data: Dolphin.json2string(orderInfo),
            onSuccess: function (reData) {
                if(reData.value.id<0){
                    alert(reData.value.remark);
                    return;
                }
                //判断支付情况
                if (orderInfo.paymentType == 'wepay') {
                    Dolphin.goUrl("/order/wepay?id="+reData.value.id);
                } else {
                    if(reData.value.taskId)
                        Dolphin.goUrl("/order/orderMessage?orderId="+reData.value.id+"&orderCode="+reData.value.code+"&storeName="+orderInfo.storeName+"&taskId="+reData.value.taskId);
                }
            }
        });
    });
</script>
</body>
</html>
