<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>点餐</title>
    <% include ../common/public.ejs %>
    <style>
        .footer_box{
            position: relative;
            height:0;
        }
        .cartInfo{
            display: none;
        }
        .weui_mask .footer_box{
            position: fixed;
            height:auto;
        }
        .weui_mask .cartInfo{
            display: block;
        }
        .foodType.nav_box{
            width:130%;
        }
        #boxscroll .nav_box.foodType .nav_icon{
            width:14%;
        }
    </style>
</head>
<body ontouchstart class="bg_b">
<% var i;%>
<article>
    <div class="tab_list bh bg_zi">
        <ul id="headTab">
            <li class="li1" data-tab="order_food">订餐</li>
            <li data-tab="restaurant_info">餐厅信息</li>
        </ul>
    </div>

    <div class="pagePanel" id="order_food">
        <div id="boxscroll">
            <div class="nav_box bh bg_zi1 foodType">
                <% for(i = 0; i <body.food.length; i++){%>
                <div class="nav_icon" data-food-type-id="<%= body.food[i].id %>" data-food-type-name="<%= body.food[i].name %>">
                    <div><img src="/custom/wx_style/images/nav_<%= body.food[i].imageCode %>.png"></div>
                    <div><%= body.food[i].name %></div>
                </div>
                <% } %>
            </div>
        </div>

        <div class="ty_bt_title">
            <h3><span class="icon_tj1">&nbsp;</span><span id="foodTypeName"><%= body.food[0].name %></span></h3>
        </div>

        <% for(i = 0; i < body.food.length; i++){%>
        <div class="div_listtz foodTypeList foodTypeList_<%= body.food[i].id %>" style="<%= i==0?'':'display:none;'%>">
            <% var food = null;%>
            <% for(var j = 0; j < body.food[i].children.length; j++){%>
            <% food = body.food[i].children[j]; %>
            <div class="list bh foodData" data-food-id="<%= food.id %>" data-food-price="<%= food.price %>" data-food-name="<%= food.name %>">
                <div class="text foodDetail"><a href="#"><%= food.name %></a></div>
                <div class="img foodDetail"><img src="/custom/wx_style/images/<%= food.image %>.png"></div>
                <div class="bh">

                    <div class="btn_gm">
                        <div class="icon_jh icon_jhh"> </div>
                        <div class="sz"  style=" display:none;">5</div>
                        <div class="icon_jh1" style=" display:none;"> </div>
                    </div>
                    <div class="jg_b"><span>￥</span><%= food.price %></div>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>

    <div class="pagePanel" id="restaurant_info" style="display: none;">
        <ul class="nr_list">
            <li class="bh li_ct" data-id="<%= body.id %>">
                <div class="img time_yy">
                    <div><a href="#"><img src="/custom/wx_style/images/<%= body.image %>.png"></a></div>
                    <div class="ms"><%= body.businessHours %></div>
                </div>
                <div class="text_ct bh">
                    <h2><a href="#"><%= body.name %></a></h2>
                    <div class="f_pj bh">
                        <div class="float_l">
                            <%- global.htmlRender.renderStar(body.point, 5)%>
                        </div>
                        <span class=" float_l">( <%= body.commentLength %>评价 )</span></div>
                    <div class="icon_ty like"><s> </s><a href="tel:<%= body.phone %>"><%= body.phone %></a></div>
                </div>
            </li>
        </ul>

        <div>
            <div class="ty_bt_title">
                <h3><span class="icon_gg">&nbsp;</span>餐厅公告</h3>
                <h5 class="ty_bt_box"><%- body.notice %></h5>
            </div>
            <div class="weui_cells" style="margin-top:0;">

                <div class=" weui_cells_access">
                    <a class="weui_cell" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p><%= body.name %></p>
                        </div>
                        <div class="weui_cell_ft"> </div>
                    </a>
                </div>
            </div>
            <div class="div_ddlist">
                <div class="ddmx">
                    <ul class="list-group" style="margin-top:0;">
                        <li class=" bh">
                            <div class="title_b">餐厅地址 ：</div>
                            <div class="title_b_text"><%= body.address %></div>
                        </li>

                        <li class=" bh">
                            <div class="title_b">营业时间 ：</div>
                            <div class="title_b_text"><%= body.businessDate %> <%= body.businessHours %></div>
                        </li>
                        <li class=" bh">
                            <div class="title_b">联系方式 ：</div>
                            <div class="title_b_text"><%= body.phone %></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ty_bt_title" style="background:none;">
                <h3><span class="icon_ct">&nbsp;</span>餐厅简介</h3>
                <h5 class="ty_bt_box"><%- body.remark %></h5>
            </div>
            <div class="ty_bt_title">
                <h3><span class="icon_pj">&nbsp;</span>餐厅评价</h3>
                <h5 class="ty_bt_box">

                    <div class="div_mddp">
                        <ul class=" bh">
                            <li class="line_gray">
                                <h4 class="w_68">综合评价</h4>
                                <span>
                                    <%- global.htmlRender.renderStar(body.point, 5)%>
                                </span><em><%= body.point %></em></li>
                            <li class="top_20 bh">
                                <h4>餐厅环境</h4>
                                <span>
                                    <%- global.htmlRender.renderStar(body.environmentPoint, 5)%>
                                </span><em><%= body.environmentPoint %></em></li>
                            <li class="bh">
                                <h4>服务态度</h4>
                                <span>
                                    <%- global.htmlRender.renderStar(body.servicePoint, 5)%>
                                </span><em><%= body.servicePoint %></em></li>
                            <li class="bh">
                                <h4>菜品口味</h4>
                                <span>
                                    <%- global.htmlRender.renderStar(body.deliciousPoint, 5)%>
                                </span><em><%= body.deliciousPoint %></em></li>
                        </ul>
                    </div>
                </h5>
            </div>
            <!--<ul class="nr_list">-->
                <!--<% for(i = 0; i < body.comment.length; i++){%>-->
                <!--<li class="bh li_ct">-->
                    <!--<div class="img_txx"><a href="#"><img src="/custom/wx_style/images/<%= body.comment[i].user.icon %>.png"></a><h3><%= body.comment[i].user.name %></h3></div>-->
                    <!--<div class=" text_zh">-->

                        <!--<div class="f_pj bh"><div class="float_l"><%- global.htmlRender.renderStar(body.comment[i].point, 5) %></div></div>-->
                        <!--<h4><%- body.comment[i].remark %></h4>-->
                        <!--<h5><%= body.comment[i].time %></h5>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<% } %>-->
            <!--</ul>-->
        </div>
    </div>

    <div class="pagePanel" id="food_detail" style="display: none;background-color:#E8E5E2;">
        <div class="div_list">
            <div class="list_k1 bh foodData" id="food_detail_panel">
                <div class="img" name="img"></div>
                <div class="text_bth" name="name"></div>
                <div class="bh">
                    <div class="btn_gm">
                        <div class="icon_jh food_detail_button"> </div>
                        <div class="sz" name="number"></div>
                        <div class="icon_jh1 food_detail_button" > </div>
                    </div>
                    <div class="jg">￥<span name="price"></span></div>
                    <div class="ty_bt_titleh" >
                        <h3><span class="icon_cp1">&nbsp;</span>菜品简介</h3>
                        <h5 class="ty_bt_box" name="desc"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="" id="cartPanel"><!--weui_mask-->
        <div class="footer_box ">
            <div class="weui_cells cartInfo">
                <div class=" weui_cells_access">
                    <a class="weui_cell" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>购物车</p>
                        </div>
                        <div class="icon_sc" id="clear">清空</div>
                    </a>
                </div>
            </div>
            <div class="ddmx bh cartInfo">
                <ul class="list-group" style="margin:0;" id="cartList">
                </ul>
            </div>
            <div class="btn_box bh">
                <div class="div_gwc" id="cartIcon"><span id="cartTotalNumber">0</span></div>
                <div class="fkjg"><strong>￥<span id="cartTotalPrice">0.00</span></strong></div>
                <form name="form" id="form">
                    <input type="hidden" name="foodList" id="foodList" />
                    <a href="javascript:void(0);" class="weui_btn weui_btn_warn" id="submit">去结算</a>
                </form>
                <% if(data.orderType == 'wm'){ %>
                <div class="fkjg1">配送费 <strong><%= body.deliveryFee%></strong> 元</div>
                <% } %>
            </div>
        </div>
    </div>
</article>


<% include ../common/footer.ejs %>
<script>
//    $(document).ready(function() {
//        var nicesx = $("#boxscroll").niceScroll("#boxscroll div",{touchbehavior:true,cursorcolor:"#FF00FF",cursoropacitymax:0.6,cursorwidth:24,usetransition:true,hwacceleration:true,autohidemode:"hidden"});
//    });
</script>
</body>
</html>
