<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>餐厅列表</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>
<article>
    <ul class="nr_list">
        <% for(var i = 0; i < body.length; i++){ %>
        <li class="bh li_ct evaluate_param restaurantId" data-id="<%= body[i].code %>">
            <div class="img">
                <div><a href="javascript:void(0)" class="restaurantLink"><img src="<% body[i].imageCode || "/custom/wx_style/images/icon_ct_mr.png"%>"></a></div>
            </div>
            <div class="text_ct bh">
                <h2><a href="javascript:void(0)" class="restaurantLink"><%= body[i].name %></a></h2>
                <div class="icon_ty like"><s> </s><a href="tel:<%= body[i].telephone %>"><%= body[i].telephone %></a></div>
                <div class="clear bh">
                    <div class="icon_ty dzh" onclick="__evaluat(this, true)"><s> </s><a href="javascript:void(0)" class="__count"><%= (body.properties && body.properties.good) || '0' %></a></div>
                    <div class="icon_ty dw" onclick="__evaluat(this, false)"><s> </s><a href="javascript:void(0)" class="__count"><%= (body.properties && body.properties.bad) || '0' %></a></div>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
</article>
<% include ../common/footer.ejs %>
</body>
</html>
