<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>订单支付</title>
    <% include ../common/public.ejs %>
    <style>
        .weui_cell:before {
            left: 0;
        }
    </style>
</head>
<body ontouchstart>
<%
console.log("wepay body:", body);
%>
<div style="text-align: center; margin-top: 50px;" id="errorMsg"></div>
<!--<div style="text-align: center;">-->
    <!--当前网络环境： <span class="int"></span>-->
    <!--<br/>-->
    <!--<br/>-->
    <!--<span id="payMsg" style="color: Red;">微信支付：0.01 元</span>-->
    <!--<br/>-->
    <!--<span id="Span1" style="color: Red;">订单编号：<%= body.code %></span>-->
    <!--<br/>-->
    时间戳:<%= body.timestamp %>
    <!--<br/>-->
    统一支付后的随机串：<%= body.nonceStr %>
    <!--<br/>-->
    预支付ID：<%= body.package %>
    <!--<br/>-->
    统一签名类型：<%= body.signType %>
    <!--<br/>-->
    统一签名：<%= body.signature %>
<!--</div>-->

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<% include ../common/footer.ejs %>
<script type="text/javascript">
    wx.config({
        debug: true,
        appId: "<%= body.appId %>", // 必填，公众号的唯一标识
        timestamp: "<%= body.timestamp %>",
        nonceStr: "<%= body.nonceStr %>",
        signature: "<%= body.signature %>",
        jsApiList: [  // 必填，需要使用的JS接口列表
            "onMenuShareTimeline",
            "onMenuShareAppMessage",
            "getNetworkType",
            "chooseWXPay"
        ]
    });
    wx.ready(function () {
        wx.chooseWXPay({
            timestamp: "<%= body.timestamp %>", // 支付签名时间戳
            nonceStr: "<%= body.nonceStr %>", // 支付签名随机串
            package: "<%= body.package %>", // 统一支付接口返回的package包
            signType: "<%= body.signType %>", // 签名方式，'MD5'
            paySign: "<%= body.paySign %>", // 支付签名
            success: function (res) {
                if (res.err_msg.indexOf("ok") > -1) {
                    // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                    Dolphin.ajax({
                        url: '/data/oms/order/status/<%= body.orderId %>/1',
                        type: Dolphin.requestMethod.GET,
                        onSuccess: function (reData) {
                            Dolphin.goUrl("/order/myOrder");
                        }
                    });
                } else {
                    $("#errorMsg").html(res.err_msg);
                }
            }
        });


        //监听错误事件 出现'invalid signature' AJAX刷新ticket,并刷新当前页面
        wx.error(function (res) {
            if (res.errMsg.indexOf("invalid signature") > 0) {
                $("#errorMsg").html(res.errMsg);
            }
        });
    });
</script>


</body>
</html>
